/* Body and Headers */
body {
    background: #f1f1f1;
}

h1 {
    font-size: 80px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
    color: #0BADA6;
}

/* Title */
.title{
    color: #0BADA6;  
    font-weight: bolder; 
    padding-top: 25px; 
}
/* Paragraph */
p{
    color: #6D8092;
    font-size: 20px; 
}

/* Navbar */
.navbar {
  padding: 10px;
  background: #4e7cca;
}

.navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
}

.navbar li a {
  color: #000;
  text-decoration: none;
}

.navbrand {
    font-size: 25px
}

/* Header */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}


/* Media Queries */
@media(max-width: 992px){
    .navbar-expand-lg{
    background-color: #0BADA6;
    }
    .navbar-brand{
        padding: 10px; 
    }
}